<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <a class="navbar-brand" href="#">Brand</a>
      </div>
    <div>
      <ul class="nav navbar-nav pull-right location_ul">
       <li class="form-group pull-right" ng-click="userWantsToSelectLocation.value = !userWantsToSelectLocation.value">
           <span class="glyphicon glyphicon-screenshot location_icon" aria-hidden="true"></span><span title="Click To Change Location" class="location_name">{{locationOfUser}}<span>
        </li> 
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="col-lg-3 col-md-4 col-sm-6 col-xs-11 select_location pull-right" ng-show="userWantsToSelectLocation.value" >
  <span class="glyphicon glyphicon glyphicon-triangle-top triangle" aria-hidden="true"></span>
  <form name="cityNameForm" novalidate>
      <input type="text" name="cityNameInput" ng-model="cityNameInput" autocomplete="off" class="enterCity" placeholder="ENTER YOUR CITY" required>
      <div class="cityList" ng-if="cityNameForm.cityNameInput.$dirty && cityNameForm.cityNameInput.$valid">
        <div class="cityOption" ng-repeat="city in cityList | StartsWithFilter: cityNameInput" ng-click="changeLocation(city)">{{city}}</div>
      </div>
  </form>
  <div class="popular_cities">
    <div class="popularSearches">POPULAR SEARCHES</div>
    <div><span class="popularSearches popularCitiesLinks" ng-repeat="city in cityList" ng-click="changeLocation(city)"> {{city}}<span ng-show="$index < 2">&nbsp|</span></span></div>
  </div>
</div>